.onlinePayment__decoration {
  height: 15px;
  width: 100%;
  display: flex;

  .color1 {
    background-color: #b3aba6;
    width: 13%;
  }

  .color2 {
    background-color: #ff8f14;
    width: 21%;
  }

  .color3 {
    background-color: #173060;
    width: 9%;
  }

  .color4 {
    background-color: #f65453;
    width: 23%;
  }

  .color5 {
    background-color: #cc251b;
    width: 19%;
  }

  .color6 {
    background-color: #62a1d2;
    width: 15%;
  }
}
