.onlinePayment__paymentType {
  padding: 50px 0 60px;

  &--title {
    color: var(--color-light-blue);
    font-size: 22px;
    margin-bottom: 15px;
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    & > div {
      width: 290px;
      height: 130px;
      color: var(--color-light-blue);
      border: 2px solid var(--color-light-blue);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }

  &--warning {
    color: var(--color-light-grey);
    font-size: 14px;

    & ul {
      margin-left: 14px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
