.onlinePayment__orderInfo {
  margin-top: 5%;

  &__steps {
    &--title {
      color: var(--color-dark-blue);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    &--progress {
      position: relative;
      width: 70%;
      height: 39px;
      // border: 1px solid var(--color-red);
      margin: 15px auto 0;

      &--circle {
        position: absolute;
        background-color: var(--color-light-grey);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        &:nth-child(1) {
          left: 0;
          background-color: var(--color-light-blue);
        }

        &:nth-child(4) {
          left: 50%;
        }

        &:nth-child(7) {
          left: 100%;
        }
      }

      &--line {
        position: absolute;
        border: 1px solid var(--color-light-grey);
        width: 50%;
        top: 50%;
        transform: translateY(-50%);

        &:nth-child(2) {
          left: 0;
        }

        &:nth-child(5) {
          left: 50%;
        }
      }

      &--text {
        position: absolute;
        color: var(--color-light-blue);
        font-size: 14px;
        top: 100%;
        transform: translate(-50%, -50%);
        left: 50%;

        & span:nth-child(1) {
          display: none;
        }
      }
    }
  }

  &__datas {
    margin-top: 5%;
    // height: 411px;

    & > h1 {
      font-size: 22px;
      color: var(--color-light-blue);
    }

    &--context {
      margin-top: 10px;
      border: 2px solid var(--color-light-blue);
      border-radius: 10px;
      padding: 20px;
      position: relative;

      &::before {
        content: "";
        border-left: 20px solid transparent;
        border-top: 15px solid var(--color-light-blue);
        border-right: 20px solid transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      & > h1 {
        font-size: 18px;
        color: var(--color-dark-grey);
        letter-spacing: 2px;
      }

      &--items {
        height: 100px;
        margin-top: 12px;
        margin-bottom: 24px;
        width: 100%;
        border: 1px solid var(--color-dark-blue);
        display: flex;
        justify-content: space-around;

        & img {
          height: 100%;
        }

        &--text {
          width: 40%;

          & h3 {
            font-size: 18px;
            color: var(--color-dark-grey);
            height: 35px;
          }

          & p {
            font-size: 14px;
            color: var(--color-light-grey);
          }
        }

        &--total {
          width: 30%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          &--count {
            width: 140px;
            height: 30px;
            display: flex;
            align-items: center;

            & > button {
              width: 30px;
              height: 30px;
              background-color: transparent;
              border: 1px solid var(--color-light-grey);
              color: var(--color-light-grey);
              font-size: 20px;
              cursor: pointer;
            }

            & > span {
              width: 76px;
              height: 30px;
              text-align: center;
              font-size: 12px;
              line-height: 30px;
              border-top: 1px solid var(--color-light-grey);
              border-bottom: 1px solid var(--color-light-grey);
            }
          }

          & > span {
            font-size: 18px;
            color: var(--color-dark-grey);
          }

          & img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
      }

      & > span {
        margin-left: auto;
        display: flex;
        width: 20%;
        justify-content: space-between;
        align-items: center;
        color: var(--color-light-blue);

        & h3 {
          font-size: 18px;
        }

        & h2 {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .onlinePayment__orderInfo {
    &__steps {
      &--progress {
        &--text {
          color: var(--color-light-grey);
          white-space: nowrap;

          & span:nth-child(1) {
            display: inline;
            margin-right: 0.5rem;
          }

          &:nth-child(3) {
            left: 20%;
          }

          &:nth-child(6) {
            left: 75%;
          }
        }
      }
    }
  }
}
